.body {
   @apply my-[-85vh] flex flex-col items-center justify-center min-h-screen;
   transform-style: preserve-3d;
   transform: perspective(400px);
}
.counter {
   @apply cursor-pointer flex gap-x-1 overflow-hidden rounded-xl border-[3px] border-neutral-100 shadow-inner bg-neutral-50 px-3 py-1 text-6xl leading-none text-sky-600;
   transform-style: preserve-3d;
}
.digit {
   @apply pointer-events-none relative w-11 tabular-nums;
}
.number {
   @apply absolute border-x-2 border-neutral-200/45 drop-shadow-sm shadow-sky-800 inset-0 flex items-center justify-center;
}
