.container {
   @apply h-screen w-full flex my-[-85vh] px-12;
}

.body {
   @apply flex flex-col justify-center;
}

.textContainer {
   @apply relative w-fit cursor-pointer transition-transform duration-500 ease-[cubic-bezier(0.16,1,0.3,1)];
   transform-style: preserve-3d;
   &:hover {
      transform: rotateX(90deg);
   }

   p {
      @apply text-[20vw] lg:text-[10vw] leading-[25vw] lg:leading-[10vw] m-0 text-neutral-500 transition-all duration-500 ease-[cubic-bezier(0.16,1,0.3,1)];
   }
   .secondary {
      @apply absolute top-0 text-orange-300 opacity-0 origin-bottom;
      transform: rotateX(-90deg) translateY(13vw);
      @media (min-width: 640px) {
         transform: rotateX(-90deg) translateY(5vw);
      }
   }
   &:hover .primary {
      @apply opacity-0 -translate-y-full;
   }
   &:hover .secondary {
      @apply opacity-100;
   }
}
